!.gitignore

# Compiled source file #
###############################
*.pc
*.pyc
*.pyo
__pycache__

# all log files but not folder #
#################################
Logs/*
!Logs/.gitkeep

# Not ignore Temp folder but ignore files#
###########################################

Temp/*
!Temp/.gitkeep

# ignore all but not ignore saved model json
###############################################

ML_algorithms/saved_model/cluster_name_EM/*
!ML_algorithms/saved_model/cluster_name_EM/saved_4_model.json

# ignore all pickle files but not saved model file
###################################################

ML_algorithms/saved_model/pickled_EM/*
!ML_algorithms/saved_model/pickled_EM/saved_4_model.pickle

